<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
    <meta charset="UTF-8">

    <title>아이디 찾기</title>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
</head>
<body>
    <h1>아이디 찾기</h1>
    <hr>
	<th:block layout:fragment="content">
	    <form id = "signUpForm" th:action="@{/user/findid}" th:object="${user}" method="post">
	    
	    	<div>
	    		<label for="email">이메일</label>
	            <input type="text" id="email" placeholder="이메일을 입력해주세요.">
	        </div>
	        
	        <div>
				<!-- 일반적으로 버튼은 submit의 기능을 포함하고 있기 때문에 submit 기능이 포함되지 않고
	             오직 button 기능만 작동하도록 속성값 추가 -->
	            <button id = "checkEmail" type = "button">확인</button>	        
	        </div>
			
	    </form>
    </th:block>
    
    <th:block layout:fragment="script">
		<script th:inline="javascript">
		
		$("#checkEmail").click(function(){
			
			const email = $("#email").val();
			
			$.ajax({
				type: "post",
				async: false,
				url: "/user/email-check",
				data: {email: email},
				success:  function (data) {
					if(data == false){
						$.ajax({
							type: "post",
							async: true,
							url: "/user/sendid",
							data: {email: email},
						})
						alert("해당 이메일로 아이디를 전송했습니다.");
						location.replace('/main');
					} else{
						alert("이메일을 확인해주세요.")
					}
				}
			
			})

			
		});
		
		
		</script>
	</th:block>
</body>
</html>