<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
    <meta charset="UTF-8">

    <title>아이디 찾기</title>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
</head>
<body>
	<th:block layout:fragment="content">
	<link rel="stylesheet" href="../css/findid.css">
	
	<div id="signuplogo" >
      <img id="brandlogo" src="https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTFfOSAg/MDAxNjYwMjA2NjgxMTUw.OvYgCu6iFMqZKr2pPpQtmTrZo6OxL1L4TX_EMcttUJUg.NG1Zg6-rI8dqHq67Nbz8TuWVThGb_-bsVuoQ9551az8g.JPEG.sjkor1005/BATRO_LOGO1.jpg?type=w800">      
       <h1 class="entry-title"><span>아이디 찾기</span></h1>
    </div>
    <hr>
		
	    <form class="findIDForm" id = "signUpForm" th:action="@{/user/findid}" th:object="${user}" method="post">
	    
	    	<div>
	    		<label for="email" id="emailin">이메일</label>
	            <input type="text" id="email" placeholder="이메일을 입력해주세요.">
	        </div>
	        
	        <div id= "endbox">
				<!-- 일반적으로 버튼은 submit의 기능을 포함하고 있기 때문에 submit 기능이 포함되지 않고
	             오직 button 기능만 작동하도록 속성값 추가 -->
	            <button id = "checkEmail" type = "button">확인</button>	   
	           <a th:href="@{../user/login}"> <button id = "cancelEmail" type = "button">취소</button>	</a>             
	        </div>
			
	    </form>
    </th:block>
    
    <th:block layout:fragment="script">
		<script th:inline="javascript">
		
		$("#checkEmail").click(function(){
			
			const email = $("#email").val();
			
			$.ajax({
				type: "post",
				async: false,
				url: "/user/email-check",
				data: {email: email},
				success:  function (data) {
					if(data == false){
						$.ajax({
							type: "post",
							async: true,
							url: "/user/sendid",
							data: {email: email},
						})
						alert("해당 이메일로 아이디를 전송했습니다.");
						location.replace('/main');
					} else{
						alert("이메일을 확인해주세요.")
					}
				}
			
			})

			
		});
		
		
		</script>
	</th:block>
</body>
</html>