<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<head>

	<title>마이페이지</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>

<th:block layout:fragment="content">
	<div id = mypage>
	<img src="https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTFfOSAg/MDAxNjYwMjA2NjgxMTUw.OvYgCu6iFMqZKr2pPpQtmTrZo6OxL1L4TX_EMcttUJUg.NG1Zg6-rI8dqHq67Nbz8TuWVThGb_-bsVuoQ9551az8g.JPEG.sjkor1005/BATRO_LOGO1.jpg?type=w800">
	<h1 id = "login-text" class="h3 mb-3 font-weight-normal">MyPage</h1>
	</div>
	<form class="form-mypage" th:action="@{/user/mypage}" th:object="${user}" method="post" >
    

		 <label class="control-label col-sm-3" for="id">이름<span class="text-danger">*</span></label>
          
          <div class="col-md-8 col-sm-9">
              <div class="input-group" id="namemenu">
              
              <input type="text" class="form-control" name="name" id="name" value="${session.userRequestDTO.name}" readonly>
            </div>
          </div>
		
		<div>
			<button id = signin class="btn btn-lg btn-primary btn-block" type="button">로그인</button>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="button" onclick="location.href = 'findid'">id 찾기</button>
		<button class="btn btn-lg btn-primary btn-block" type="button" onclick="location.href = 'findpw'">pw 찾기</button>
    </form>
    
 </th:block> 
 
 <th:block layout:fragment="script">
	<script th:inline="javascript">
	
		let name = "";
	
		$.ajax({
			type: "post",
			async: false,
			url: "/get/name",
			success:  function (data) {
				name = data;
			}
		})
		
		$('#name').val(name);

		/*<![CDATA[*/

			
		/*]]*/
		
	</script>
</th:block>


</body>
</html>