<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<head>

<title>Insert title here</title>

</head>
<body class="text-center">




<th:block layout:fragment="content">
<div id = login>
	<img src="https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTFfOSAg/MDAxNjYwMjA2NjgxMTUw.OvYgCu6iFMqZKr2pPpQtmTrZo6OxL1L4TX_EMcttUJUg.NG1Zg6-rI8dqHq67Nbz8TuWVThGb_-bsVuoQ9551az8g.JPEG.sjkor1005/BATRO_LOGO1.jpg?type=w800">
	<h1 class="h3 mb-3 font-weight-normal">Login</h1>
</div>
    <form class="form-signin" th:action="@{/user/signin}" th:object="${user}" method="post" >
    


      <label for="inputEmail" class="sr-only">ID</label>
      <input type="text" id="id" class="form-control" placeholder="ID" >
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="pw" class="form-control" placeholder="Password" >
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button id = login class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		<button class="btn btn-lg btn-primary btn-block" type="submit">id찾기</button>
		<button class="btn btn-lg btn-primary btn-block" type="submit">pw 찾기</button>
    </form>
 </th:block> 
 
 <th:block layout:fragment="script">
	<script th:inline="javascript">
	
	$("#login").click(function(){
		
		const id = $("#id").val();
		const pw = $("#id").val();

		$.ajax({
		type: "post",
		async: false,
		url: "/user/login-check",
		data: {id: id, pw: pw},
		success: function (data) {
			if(data == true){
				alert("로그인 성공");
				window.location.href = "main.html";
			} else{
				alert("아이디와 비밀번호를 다시 확인해주세요.");
			}
		}
		})
	});
	
	</script>

</body>
</html>