<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
    <meta charset="UTF-8">

    <title>아이디 찾기</title>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
</head>
<body>
	<th:block layout:fragment="content">
	
	<div id="signuplogo" >
      <img id="brandlogo" src="https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTFfOSAg/MDAxNjYwMjA2NjgxMTUw.OvYgCu6iFMqZKr2pPpQtmTrZo6OxL1L4TX_EMcttUJUg.NG1Zg6-rI8dqHq67Nbz8TuWVThGb_-bsVuoQ9551az8g.JPEG.sjkor1005/BATRO_LOGO1.jpg?type=w800">      
       <h1 class="entry-title"><span>회원탈퇴</span></h1>
    </div>
    <hr>
		
	    <form class="withdrawalForm" id = "withdrawalForm" th:action="@{/user/withdrawal}" th:object="${user}" method="post">
	    
	    	<div>
	    		<label for="pw" id="pwin">비밀번호</label>
	            <input type="password" id="pw" placeholder="비밀번호를 입력해주세요.">
	        </div>
	        
	        <div id= "endbox">
				<!-- 일반적으로 버튼은 submit의 기능을 포함하고 있기 때문에 submit 기능이 포함되지 않고
	             오직 button 기능만 작동하도록 속성값 추가 -->
	            <button id = "checkPw" type = "button">확인</button>	   
	           <a th:href="@{../post/main}"> <button id = "cancel" type = "button">취소</button>	</a>             
	        </div>
			
	    </form>
    </th:block>
    
    <th:block layout:fragment="script">
		<script th:inline="javascript">
		
		// 로그인 되어있지 않을 때 접근하지 못하게
		$.ajax({
			type: "post",
			async: false,
			url: "/login-check",
			success:  function (data) {
				if(data == false){
					alert("잘못된 접근입니다.");
					location.replace('/post/main');
				}
			}
		})
		
		let currentpw = "";
		
		$.ajax({
			type: "post",
			async: false,
			url: "/get/pw",
			success:  function (data) {
				currentpw = data;
			}
		})
		
		$("#checkPw").click(function(){
			
			const pw = $("#pw").val();
			
			if(pw == currentpw){
				if(confirm("정말 회원탈퇴를 하시겠습니까?") == true){
					
					$.ajax({
						type: "post",
						async: false,
						url: "/user/delete-account",
						success:  function (data) {
							alert("회원 탈퇴가 완료되었습니다.");
							location.replace('/post/main');
						}
					})
					
				} else{
					return false;
				}
			} else{
				alert("입력 정보를 확인해주세요.");
			}

			
		});
		
		
		</script>
	</th:block>
</body>
</html>