<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<head>
<meta charset="UTF-8">
<title>메인페이지</title>
</head>
<th:block layout:fragment="content">

<body>
	

	
	<div id = "post-table">
	<table  class="table table-hover"  >
		
			<thead>
			
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				
				
				</tr>
			
			</tbody>
				
	</table>
	
		<table class="table table-hover"  id = "qnapost-table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				
				
				</tr>
			
			</tbody>
				
	</table>
	</div>
	
	
	
	
	
	




</body>
</th:block>
</html>