<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/basic">


<th:block layout:fragment="title">
	<title>자유게시판</title>
</th:block>



<th:block layout:fragment="modal">
	<div id="commentModal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="commentModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="modalWriter" class="col-form-label">작성자</label> <input
								type="text" id="modalWriter" class="form-control"
								placeholder="작성자를 입력해 주세요." />
						</div>
						<div class="form-group">
							<label for="modalContent" class="col-form-label">내용</label>
							<textarea id="modalContent" class="form-control"
								placeholder="내용을 입력해 주세요."></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="btnModalCancel"
						class="btn btn-default waves-effect waves-light"
						data-dismiss="modal">취소하기</button>
					<button type="button" id="btnCommentUpdate"
						class="btn btn-primary waves-effect waves-light"
						onclick="updateComment()">수정하기</button>
					<button type="button" id="btnCommentDelete"
						class="btn btn-danger waves-effect waves-light">삭제하기</button>
				</div>
			</div>
		</div>
	</div>
</th:block>




<th:block layout:fragment="content">
	<div class="card-content">
		<div class="form-group">
			<label class="col-sm-2 control-label">제목</label>
			<div class="col-sm-10">
				<p class="form-control" id="title" th:text="${post.title}"></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">이름</label>
			<div class="col-sm-10">
				<p class="form-control" id="writer" th:text="${post.writer}"></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">내용</label>
			<div class="col-sm-10">
				<p class="form-control" id="content" th:text="${post.content}"></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">등록일</label>
			<div class="col-sm-10">
				<p class="form-control"
					th:text="*{#temporals.format( post.writeDate, 'yyyy-MM-dd HH:mm:ss' )}"></p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">조회 수</label>
			<div class="col-sm-10">
				<p class="form-control" id="viewCnt" th:text="${post.viewCnt}"></p>
			</div>
		</div>

		<div class="btn_wrap text-center">
			<a href="javascript: void(0);" onclick="goListPage();"
				class="btn btn-default waves-effect waves-light">뒤로가기</a> <a
				href="javascript: void(0);" onclick="goWritePage();"
				class="btn btn-primary waves-effect waves-light">수정하기</a>
			<button type="button" class="btn btn-danger waves-effect waves-light"
				onclick="deletePost()">삭제하기</button>
		</div>
	</div>
</th:block>

<th:block layout:fragment="add-content">
	<div class="box-content">
		<div class="card-content">
			<div class="clearfix">
				<h4 class="box-title pull-left">Comment1</h4>
			</div>

			<form class="form-horizontal form-view">
				<div class="input-group margin-bottom-20">
					<input type="text" id="contents" class="form-control"></input>
					<div class="input-group-btn">
						<button type="button" class="btn waves-effect waves-light"
							th:onclick="insertComment([[ ${post.idx} ]])">
							<i class="fa fa-commenting" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<ul class="notice-list"></ul>
			</form>
		</div>
	</div>
</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
        /*<![CDATA[*/

        	
        	function openModal(cIdx, cWriter, cContent) {

			$("#commentModal").modal("toggle");

			document.getElementById("modalWriter").value = cWriter;
			document.getElementById("modalContent").value = cContent;
			document.getElementById("btnCommentUpdate").setAttribute("onclick", "updateComment("+ cIdx +")");
			document.getElementById("btnCommentDelete").setAttribute("onclick", "deleteComment("+ cIdx +")");
		}
        	
        	
        	
        	function insertComment(bIdx) {

					var content = document.getElementById("contents");
					console.log(content);
 					if (isEmpty(content.value) == true) {
						content.setAttribute("placeholder", "댓글을 입력해 주세요.");
						content.focus();
						return false;
					} 
					
					var uri = /*[[ @{/comments} ]]*/;
					var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
					var params = {"bIdx": bIdx, "cContent": content.value, "cWriter": "관리자"};
					$.ajax({
						url: uri,
						type: "POST",
						headers: headers,
						dataType: "json",
						data: JSON.stringify(params),
						success: function(response) {
							if (response.result == false) {
								alert("댓글 등록에 실패하였습니다.");
								return false;
							}
				
							printCommentList();
						    content.value = "";
						},
						error: function(xhr, status, error) {
							alert("에러가 발생하였습니다.");
							return false;
						}
					});
				}
        	
        	function updateComment(cIdx) {

        		var writer = document.getElementById("modalWriter");
        		var content = document.getElementById("modalContent");
				console.log(content);
        		var uri = /*[[ @{/comments/} ]]*/ + cIdx;
        		var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "PATCH"};
        		var params = {"cIdx": cIdx, "cWriter": writer.value, "cContent": content.value};

        		$.ajax({
        			url: uri,
        			type: "PATCH",
        			headers: headers,
        			dataType: "json",
        			data: JSON.stringify(params),
        			success: function(response) {
        				if (response.result == false) {
        					alert("댓글 수정에 실패하였습니다.");
        					return false;
        				}

        				printCommentList();
        				$("#commentModal").modal("hide");
        			},
        			error: function(xhr, status, error) {
        				alert("에러가 발생하였습니다.");
        				return false;
        			}
        		});
        	}
				
        	
        
        	
        	
        	
							$(function() {
								printCommentList();
											});
							
				function printCommentList() {

						var uri = /*[[ @{/comments/} + ${post.idx} ]]*/;

			$.get(uri, function(response) {
			if (isEmpty(response) == false) {
				var commentsHtml = "";
					$(response.commentList).each(function(idx, comment) {
						commentsHtml += `
							<li>
								<span class="name">${comment.cWriter}</span>
								<span class="desc">${comment.cContent}</span>
								<span class="time">${moment(comment.cDate).format('YYYY-MM-DD HH:mm:ss')}</span>
								<button type="button" onclick="openModal(${comment.cIdx}, '${comment.cWriter}', '${comment.cContent}' )" class="btn btn-xs btn-circle"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
							</li>
						`;
							});
			
							$(".notice-list").html(commentsHtml);
						}
					}, "json");
				}

        	
        	
        	
          
        
            // 게시글 삭제
            function deletePost() {
                const id = [[ ${post.idx} ]];
                if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
                    return false;
                }

                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
                })

                const formHtml = `
                    <form id="deleteForm" action="/post/delete.do" method="post">
                        ${inputHtml}
                    </form>
                `;

                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }
        
            // 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('idx');
                location.href = '/post/list.do' + '?' + queryString.toString();
            }
            
            // 게시글 수정 페이지로 이동
            function goWritePage() {
                location.href = '/post/write.do' + location.search;
            }

        /*]]>*/
        </script>
	<script th:src="@{/scripts/common.js}"></script>
	<script th:src="@{/plugin/common/moment.js}"></script>
</th:block>
</html>