<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.domain.comment.CommentMapper">

	<sql id="commentColumns">
		  c_idx
		, c_content
		, c_writer
		, c_date
		, del_yn
		, b_idx
		, c_modidate
		, c_deldate
	</sql>

	<insert id="insertComment" parameterType="com.board.domain.comment.CommentRequest">
		INSERT INTO fb_comment (
			<include refid="commentColumns" />
		) VALUES (
			  #{cIdx}
			, #{cContent}
			, #{cWriter} 
			, Now()
			, 0
			, #{bIdx}
			, NULL
			, NULL
		)
	</insert>

	<select id="selectCommentDetail" parameterType="long" resultType="com.board.domain.comment.CommentResponse">
		SELECT
			<include refid="commentColumns" />
		FROM
			fb_comment
		WHERE
			del_yn = 0
		AND
			c_idx = #{cIdx}
	</select>

	<update id="updateComment" parameterType="com.board.domain.comment.CommentRequest">
		UPDATE fb_comment
		SET
			  c_modidate = NOW()
			, c_content = #{cContent}
			, c_writer = #{cWriter}
		WHERE
			c_idx = #{cIdx}
	</update>

	<update id="deleteComment" parameterType="long">
		UPDATE fb_comment
		SET
			  del_yn = 1
			, c_deldate = NOW()
		WHERE
			c_idx = #{cIidx}
	</update>

	<select id="selectCommentList" parameterType="com.board.domain.comment.CommentResponse" resultType="com.board.domain.comment.CommentResponse">
		SELECT
			<include refid="commentColumns" />
		FROM
			fb_comment
		WHERE
			delete_yn = 0
		AND
			b_idx = #{bIdx}
		ORDER BY
			c_idx DESC,
			c_modidate DESC
	</select>

	<select id="selectCommentTotalCount" parameterType="com.board.domain.comment.CommentResponse" resultType="int">
		SELECT
			COUNT(*)
		FROM
			fb_comment
		WHERE
			delete_yn = 0
		AND
			b_idx = #{bIdx}
	</select>

</mapper>