<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.domain.main.MainMapper">
   
   <!-- qnapost 전체컬럼 -->
   <sql id="qnapostColumns">
          idx
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , del_yn
        , write_date
        , modified_date
    </sql>
    
    
        <!-- free_board 테이블 전체 컬럼 -->
    <sql id="postColumns">
          idx
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , del_yn
        , write_date
        , modified_date
    </sql>
    
    



	    <!-- qna게시글 리스트 조회 -->
    <select id="QnaFindAll" parameterType="com.board.common.dto.SearchDto" resultType="com.board.domain.qnapost.QnaPostResponse">
        SELECT
            <include refid="qnapostColumns" />
        FROM
            pro_sol_board
        WHERE
            del_yn = 0
            
        ORDER BY
            idx DESC
        LIMIT 5;
    </select>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="com.board.common.dto.SearchDto" resultType="com.board.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            free_board
        WHERE
            del_yn = 0
            
        ORDER BY
            idx DESC
        LIMIT 5;
    </select>
    






</mapper>