<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="main-body">
	<th:block layout:fragment="modal"></th:block>
	<div class="fixed-navbar">

		<div class="pull-left">
		

			<h1 class="page-title">
				<i class="fa-solid fa-road-circle-check">BARTRO</i>
			</h1>

		</div>

		

		<div class="nav_menu">
			<h1 class="page-title">메인페이지</h1>
			<h1 class="page-title">분석</h1>
			<h1 class="page-title">
				<a th:href="@{/post/list.do}">자유게시판</a>
			</h1>
			<h1 class="page-title">
				<a th:href="@{/post/qnalist.do}">문제제시 해결방안</a>
			</h1>

		</div>
		<div class="nav_sign">
			<h1 class="page-title">
			<a th:href="@{/user/signup}">sign up</a></h1>
			<h1 class="page-title">sign in</h1>
		</div>
	</div>

	<div th:if = "@{/post/list.do}" >
	<img id = freeimg src="https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTFfNjMg/MDAxNjYwMjA0NTMzMTM1.2WZF0Y3zuiqTzwSmvGdana5fGZhzyp768so1JDUuAtcg.S7BBL_lQhEmRnwbkJa_cXBuW19u8f__5p59YkJY6nekg.JPEG.sjkor1005/2205_w046_n004_124b_p1_124.jpg?type=w800"/>
	</div>
	<div th:unless = "@{/post/list.do}">
	<img id = freeimg src=https://mblogthumb-phinf.pstatic.net/MjAyMjA4MTdfMTQw/MDAxNjYwNzEzNDA4MzI3.XO8bm8t56vJBWDsnX3btyJ0NBbht1WnIjVUGH4Nhax4g.-FjhlWA6BkF_7StBq7m5DJhv82SIy5Fohy_EOuFx6Okg.JPEG.sjkor1005/2203_w046_n004_48b_p1_48.jpg?type=w800/>
	</div>


	<div id="wrapper">
		<div class="main-content">
			<div class="row row-inline-block small-spacing">
				<div class="col-xs-12">
					<div class="box-content">
						<div class="clearfix">
							<h4 class="box-title pull-left"></h4>

							<th:block layout:fragment="search"></th:block>
						</div>

						<th:block layout:fragment="content"></th:block>

						<th:block layout:fragment="paging"></th:block>
					</div>

					<th:block layout:fragment="add-content"></th:block>
				</div>
			</div>

			<footer class="footer">
				<ul class="list-inline">
					<li>@지하철 커뮤니티사이트 BARTRO</li>
				</ul>
			</footer>
		</div>
	</div>
	<script th:src="@{/scripts/jquery.min.js}"></script>
	<script th:src="@{/scripts/common.js}"></script>
	<script th:src="@{/scripts/main.js}"></script>
	<script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/plugin/common/moment.js}"></script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>