<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/basic">

<head>
	


<title>분석페이지</title>

<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
	<py-env>
	  - pandas
	  - numpy
	  - tensorflow
	  - matplotlib
	  - rich
	</py-env>	


</head>
<th:block layout:fragment="content">
	<meta charset="UTF-8">
	
	<body>
		<div>분석페이지</div>
		


			
		<py-script src = "../subwayanalysis/main.py"> 
		
		


		 </py-script>
		<main class="container">
			<h1 id="output_text"></h1>
			<div>
				<input id="input_text" type="text" placeholder="텍스트를 입력하세요">
				<button id="add_text" pys-onClick="function_add_text">Click</button>
			</div>
		</main>








	</body>
</th:block>
</html>